<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735221333649-85istibe5o649rq2f68f2rohbv5fgnte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735221333649-85istibe5o649rq2f68f2rohbv5fgnte</string>
	<key>API_KEY</key>
	<string>AIzaSyCijHqd2NpVqVOXWhBkapQ3NGo3GJH8amw</string>
	<key>GCM_SENDER_ID</key>
	<string>735221333649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.com.kltheguide</string>
	<key>PROJECT_ID</key>
	<string>kltg-e77d9</string>
	<key>STORAGE_BUCKET</key>
	<string>kltg-e77d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735221333649:ios:f92dc8f973e8eade6f8930</string>
	<key>DATABASE_URL</key>
	<string>https://kltg-e77d9.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7002644831588730~7281355962</string>
</dict>
</plist>